*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: darkolivegreen;
}

li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;

}

.nav__Menu{
    display: flex;
    color: inherit;
}

.nav__items{
    margin: 20px;
}